html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 0.25fr;
}

h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
    text-align: center;
}

button{
    box-sizing: content-box;
}

button:hover{
    cursor: pointer;
}

input[type="radio"]:hover, label:hover{
    cursor: pointer;
}

header{
    background-color: #33587A;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #33587A;
}

header .search{
    height: 55%;
    width: 60%;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

header .search > *{
    font-size: 2.5rem;
    height: 100%;
    border-radius: 16px; 
}

header .search > input{
    text-align: center;
    flex: 1;
}

header .search > button{
    flex: 0.25;
}

header fieldset{
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 0;
    border: none;
}

input[type="radio"]{
    width: 25px;
    height: 25px;
}

.weatherInfo{
    background-color: #1965B1;

    display: grid;
    grid-template-columns: minmax(820px, 50%);
    justify-content: center;
}

.weatherInfo .card{
    background-color: #33587A;
    font-family: 'DIN-Light',sans-serif;
    color: white;
    padding-bottom: 25px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px fit-content(330px) 100px fit-content(500px);
    grid-auto-rows: auto;
    justify-items: center;
    align-items: center;
}

.weatherInfo .card .currentWeather{
    width: 75%;
    height: 100%;
    font-size: 36pt;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: fit-content(1px);
}

.weatherInfo .card .currentWeather .temperature{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.weatherInfo .card .currentWeather .temperature .feelsLikeTemperature{
    font-size: 16pt;
    display: flex;
    align-items: center;
}

.weatherInfo .card .currentWeather .conditions{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.weatherInfo .card .currentWeather .advancedInfo{
    font-size: 16pt;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 25px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.card .forecastControls{
    height: 100%;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card .forecastControls > button{
    font-size: 2rem;
    color: white;
    background-color: transparent;
    border: none;
}

.card .forecast{
    height: 100%;
    width: 75%;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.threeHourInfo{
    border-right: 0.5px solid black;
    height: 100%;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.threeHourInfo:last-child{
    border-right: 0;
}

.threeHourInfo .cell > img{
    height: 100%;
    width: 100%;
}

.threeHourInfo .cell{
    font-size: 1.5rem;

    display: grid;
    justify-content: center;
    align-items: center;
}

.cell:nth-child(odd){
    background-color: #1c86ea;
}

.cell:nth-child(even){
    background-color: #519ce7;
}


